@font-face {
  font-family: 'mojangles';
  src: url('mojangles.woff2') format('woff2'),
  url('mojangles.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #c8c8c8;
  font-family: 'Helvetica';
}

h1 {
  text-align: center;
  color: #c8c8c8;
  font-family: 'Helvetica'; 
}

code {
  font-family: monospace;
  font-size: 15px;
}

.checkbox {
  color: #c8c8c8;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Helvetica';
}

input[type="checkbox"] {
  accent-color: #c8c8c8;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidetoggle {
  height: 40px;
  border-left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000;
  background-color: #dbbe00;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  cursor: pointer;
  aspect-ratio: 1;
}

.sidetoggle:hover {
  background-color: #dbbe00;
  color: white;
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 150%;
  width: 73vw;
  height: auto;
  border: 2px solid #222;
  border-radius: 1rem;
  background-color: #222;
  text-align: center;
  vertical-align: middle;
  color: #c8c8c8;
  font-size: 18px;
  font-family: 'Helvetica';
  text-decoration: none;
  transition: border-color 0.3s, width 0.3s;
}

.box:hover {
  border-color: #dbbe00;
  width: 75vw;
}

.icon-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.icon-container img {
  width: 40px;
  transition: width 0.3s, height 0.3s;
}

.icon-container img:hover {
  width: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: background-color 0.3s ease-out, width 0s 0.3s, height 0s 0.3s;
}

.overlay.active {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-out;
  background-color: rgb(0, 0, 0, 0.5);
}

sidetoggle:hover + .outclick, .outclick:hover {
  display: inline-block;
}

.topbar {
  height: 35px;
  background-color: #dbbe00;
  width: 100vw;
  margin: -10px;
  margin-bottom: 20px;
}

.triangle {
  width: 0;
  height: 0; 
  margin-left: 150px;
  margin-top: -10px;
  border-bottom: 40px solid transparent;
  border-right: 150px solid #dbbe00;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -304px;
  width: 344px;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-out;
  display: flex;
}

.sidebar-content {
  padding-top: 10px;
  background-color: #222;
  width: 300px;
  display: inline-block;
  font-family: "Helvetica";
  overflow-y: auto;
}

.side-menu {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #dbbe00;
  background-color: #3c3c3c;
  width: 80%;
  color: #c8c8c8;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  transition: width 0.5s, font-size 0.5s;
}

.side-menu.bottom {
  border-width: 0px;
}

.side-menu:hover {
  width: 85%;
  font-size: 21px; 
}

.sidebar.active {
  left: 0;
  width: 100%;
}

img {
  display: inline-block;
}

iframe {
  background: #3c3c3c;
  border: none;
}

.table {
  width:90vw
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
}

::-webkit-scrollbar-corner {
  background-color: #3c3c3c;
}

/* iframe Scrollbar */
iframe::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3c3c3c;
}

iframe::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 8px;
}

iframe::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
}

iframe::-webkit-scrollbar-corner {
  background-color: #3c3c3c;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
}

#loading-spinner {
  width: 68px;
  height: 66px;
  background-image: url('icons/load.png');
  background-size: cover;
  transform-origin: 28.5px 38px;
  animation: spin 1s infinite linear;
  visibility: visible;
}

input[type="file"] {
  display: none;
}

.file-upload {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: #dbbe00;
  background-image: url('icons/upload.svg');
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.imageCanvas {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slider {
  appearance: none;
  height: 5px;
  width: 50%;
  margin: 20px 0;
  background-color: #4b4b4b;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #3c3c3c;
  cursor: ew-resize;
}

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  appearance: none;
  -webkit-transition: height 0.5s, width 0.5s, border-radius 0.5s;
  background-color: #dbbe00;
  border-radius: 10px;
  border: 2px solid #3c3c3c;
}

.slider::-webkit-slider-thumb:hover {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb:active {
  background-color: #3c3c3c;
  border-color: #dbbe00;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  transition: height 0.5s, width 0.5s, border-radius 0.5s;
  background-color: #dbbe00;
  border-radius: 10px;
  border: 2px solid #3c3c3c;
}

.slider::-moz-range-thumb:hover {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.slider::-moz-range-thumb:active {
  background-color: #3c3c3c;
  border-color: #dbbe00;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-name {
  padding-right: 0px;
  width: 50%;
}

.slider-value {
  padding-left: 10px;
  width: 20px;
  text-align: right;
}


.filters {
  width: 90%;
  height: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(4, 70px);
  gap: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

.serverlist {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222;
  border-radius: 1rem;
  overflow: auto;
}

div.serverlist::-webkit-scrollbar {
  display: none
}

div.serverlist::-webkit-scrollbar-thumb {
  display: none
}

.server {
  width: 95%;
  height: 250px;
  margin: 10px auto;
  background-color: #333;
  border-radius: 1rem;
  text-align: center;
  font-family: mojangles;
}

.server img {
  padding-left: 20px;
  padding-right: 40px;
  height:150px;
}

.playerlist {
  width: 250%;
  grid-column: 4 / 5;
  grid-row: 2 / 5;
  background-color: #000;
  border-radius: 1rem;
  text-align: left;
  font-family: mojangles;
  overflow: auto;
}

div.playerlist::-webkit-scrollbar {
  display: none
}

div.playerlist::-webkit-scrollbar-thumb {
  display: none
}